* {
  padding: 0px;
  margin: 0px;
}

body {
    color: rgb(230, 230, 230);
    font-family: "Rubik", helvetica, arial, sans-serif;
    background-color: rgb(0, 0, 0);
    background: url(./image/EldenRingDLC_dark.jpg) no-repeat fixed top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    background: rgb(30, 12, 27);
    height: 46px;
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 40px;
    margin-left: 15px;
}

.nav {
    margin-right: 15px;
    gap: 5px;
    display: flex;
    align-items: center;
}

.searchBar {
    color: white;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    outline: none;
    height: 32px;
    width: 250px;
    padding: 0px 15px;
    gap: 5px;
    display: flex;
    align-items: center;
}

.searchBar:hover {
    border: 1px white solid;
}

.searchBar:focus {
    border: 1px white solid;
}

.startWiki {
    color: rgb(255, 255, 255);
    background: none;
    border: none;
    border-radius: 3px;
    outline: none;
    height: 36px;
    width: fit-content;
    padding: 0px 15px;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.startWiki:hover {
    background: rgba(255, 255, 255, 0.15);
}

.signIn {
    background: rgb(255, 197, 0);
    border: none;
    border-radius: 3px;
    outline: none;
    height: 36px;
    width: fit-content;
    padding: 0px 15px;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wikiTitle {
    height: 80px;
}

/* .wikiNav */

.wikiPage {
    background: rgba(5, 14, 8, 0.75);
    border: 1px black solid;
    height: fit-content;
    width: 800px;
    padding: 30px;
    margin: 10px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.itemCategoryInfo {
    border: rgb(61, 68, 64) solid;
    border-width: 0px 0px 1px 0px;
    width: 100%;
    padding-bottom: 10px;
}

.itemCategoryInfoHeader {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.itemCategoryInfoTitle {
    font-family: "Crimson Pro";
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 2px;
}

.itemCategoryInfoList {
    font-family: "Crimson Pro";
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 50px;
}

.itemCategory {
    background: rgba(255, 255, 255, 0.02);
    border: 2px rgb(30, 35, 31) solid;
    display: flex;
    flex-direction: column;
}

.itemCategoryHeader {
    border: rgb(30, 35, 31) solid;
    border-width: 0px 0px 2px 0px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itemCategoryHeaderTitle {
  gap: 5px;
  display: flex;
  align-items: center;
}

.itemCategoryCollapse {
  cursor: pointer;
}

.itemContainer {
    padding: 15px 20px;
    display: flex;
}

.item {
    margin: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemImage {
    border: 1px rgb(61, 68, 64) solid;
    height: 125px;
    width: 125px;
    cursor: pointer;
}

.itemName {
    color: rgb(233, 216, 165);
    font-size: 12px;
    padding: 15px 5px;
    cursor: pointer;
}

.itemName:hover {
    color: rgb(253, 251, 246);
    text-decoration: underline;
}


/* Edit History */
.edited-history-container {
  background: rgba(5, 14, 8, 0.9);
  border: 1px black solid;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 800px;
  padding: 30px;
  margin: 2rem 0 0 0;
}

.edited-history-container ul {
  display: block;
  padding: 1rem;
}
/* /Edit History */